<div>
    {{#each}}
        <a>{{lemon}}</a>
    {{/each}}

    {{#peach}}
        <a>
            {{#apple}}
                <span>{{banana}}</span>
                <div>{{cheese}}</div>
                <div>{{apple}}</div>
            {{/apple}}
        </a>
    {{/peach}}

    {{#fig}}
        <a>
            {{#apple}}
                <small>{{banana}}</small>
                <p>{{cheese}}</p>
            {{/apple}}
        </a>
    {{/fig}}
</div>
