<div>
    {{#each0}}
        <div class="each1">
            {{#each1}}
                {{#each2}}
                    <a>{{banana}}</a>
                {{/each2}}
            {{/each1}}
        </div>
    {{/each0}}

    {{#grape}}
        <p class="grape">
            {{lemon}} <br/> {{mango}}
        </p>
    {{/grape}}
</div>

