<div>
    {{#each0}}
        <div>
            {{#each1}}
                <a>{{banana}}</a>
                <a>{{fig}}</a>
            {{/each1}}
        </div>
    {{/each0}}

    <div> {{lemon}} </div>
</div>

