<wooo> wooo</wooo>
<div class="each-0">
    {{#each0}}
        <div class="each1">
            {{#each1}}
                <test>
                {{#each2}}
                    <a>{{banana}}</a>
                    <a>{{fig}}</a>
                {{/each2}}
                </test>
            {{/each1}}
        </div>
    {{/each0}}
</div>
