<div>
    {{#each}}
        <a>{{banana}}</a>
    {{/each}}

    {{#peach}}
        <a>
            {{#apple}}
                <span>{{banana}}</span>
                <div>{{cheese}}</div>
            {{/apple}}
        </a>
    {{/peach}}
</div>

