<x>
    {{#a}}
        <a>
            {{#b}}
                <b>
                    <d>{{d}}</d>
                </b>
            {{/b}}
            {{#c}}
                <c>
                    <d>{{d}}</d>
                </c>
            {{/c}}
        </a>
    {{/a}}
</x>
