<x>
    {{#a}}
        <a>
            {{#b}}
                <b>
                    {{#c}}
                        <c> {{d}} </c>
                    {{/c}}

                    {{e}}
                </b>
            {{/b}}

            {{c}}
        </a>
    {{/a}}
</x>
